/* Bắt đầu CSS trang danh mục*/
.bao_loi{
    color: red;
    display: none;
}
/*Kết thúc CSS trang danh mục*/
/*Bắt đầu CSS trang Tour*/
.anh_avatar{
	width: 20px;
	height: 20px;
}
/*Kết thúc Bắt đầu CSS trang Tour*/